In [1]:
import pandas as pd

In [73]:
master_queue = pd.read_csv('Raw Data/master_solo_queue.csv')

In [74]:
master_queue.head()

,accountId,summonerName,wins,losses,leaguePoints,totalGames,platformId,gameId,champion,queue,season,timestamp,role,lane,name,key
0,IgN7KRFB8tUpLdyz2fAGA9IQbc7fx30ImbAlMf8Z-Twqua...,Buoadeaboda,35,36,1,170,NA1,3821541874,68,420,13,1615516571440,SOLO,TOP,Rumble,68.0
1,IgN7KRFB8tUpLdyz2fAGA9IQbc7fx30ImbAlMf8Z-Twqua...,Buoadeaboda,35,36,1,170,NA1,3820140291,517,420,13,1615434212271,DUO,MID,Sylas,517.0
2,IgN7KRFB8tUpLdyz2fAGA9IQbc7fx30ImbAlMf8Z-Twqua...,Buoadeaboda,35,36,1,170,NA1,3818989043,13,420,13,1615355502032,SOLO,TOP,Ryze,13.0
3,IgN7KRFB8tUpLdyz2fAGA9IQbc7fx30ImbAlMf8Z-Twqua...,Buoadeaboda,35,36,1,170,NA1,3819011703,106,420,13,1615353228520,SOLO,TOP,Volibear,106.0
4,IgN7KRFB8tUpLdyz2fAGA9IQbc7fx30ImbAlMf8Z-Twqua...,Buoadeaboda,35,36,1,170,NA1,3818946470,13,420,13,1615351530697,SOLO,TOP,Ryze,13.0

In [87]:
master_queue.tail()

,accountId,summonerName,wins,losses,leaguePoints,totalGames,platformId,gameId,champion,queue,season,timestamp,role,lane,name,key
4044,OORR61-jTvQDlZw9t543sKaQ1S3-JRIHm7eM4MN4oTRJi_...,Siyuu,47,32,36,105,NA1,3212801903,28,420,13,1574312186470,NONE,JUNGLE,Evelynn,28.0
4045,OORR61-jTvQDlZw9t543sKaQ1S3-JRIHm7eM4MN4oTRJi_...,Siyuu,47,32,36,105,NA1,3212652490,23,420,13,1574305281442,SOLO,TOP,Tryndamere,23.0
4046,OORR61-jTvQDlZw9t543sKaQ1S3-JRIHm7eM4MN4oTRJi_...,Siyuu,47,32,36,105,NA1,3212627168,164,420,13,1574303495966,DUO_SUPPORT,NONE,Camille,164.0
4047,OORR61-jTvQDlZw9t543sKaQ1S3-JRIHm7eM4MN4oTRJi_...,Siyuu,47,32,36,105,NA1,3212571573,24,420,13,1574301446818,SOLO,TOP,Jax,24.0
4048,OORR61-jTvQDlZw9t543sKaQ1S3-JRIHm7eM4MN4oTRJi_...,Siyuu,47,32,36,105,NA1,3212556358,39,420,13,1574299665163,SOLO,TOP,Irelia,39.0

In [75]:
master_queue.queue.unique()

array([420])

In [76]:
master_queue.columns

Index(['accountId', 'summonerName', 'wins', 'losses', 'leaguePoints',
       'totalGames', 'platformId', 'gameId', 'champion', 'queue', 'season',
       'timestamp', 'role', 'lane', 'name', 'key'],
      dtype='object')

In [77]:
master_queue_match_team = pd.read_csv('Raw Data/match_team_info.csv')

In [78]:
master_queue_match_team.head()

,gameId,teamId,win,firstBlood,firstTower,firstInhibitor,firstBaron,firstDragon,firstRiftHerald,towerKills,inhibitorKills,baronKills,dragonKills,vilemawKills,riftHeraldKills,dominionVictoryScore,championId,pickTurn
0,3821541874,100,Win,True,False,False,True,True,False,6,0,1,3,0,0,0,34,1
1,3821541874,100,Win,True,False,False,True,True,False,6,0,1,3,0,0,0,38,2
2,3821541874,100,Win,True,False,False,True,True,False,6,0,1,3,0,0,0,67,3
3,3821541874,100,Win,True,False,False,True,True,False,6,0,1,3,0,0,0,145,4
4,3821541874,100,Win,True,False,False,True,True,False,6,0,1,3,0,0,0,18,5

In [79]:
master_queue_match_pts = pd.read_csv('Raw Data/match_pt_info.csv')

In [86]:
master_queue_match_pts.head()

,gameId,participantId,teamId,championId,spell1Id,spell2Id,stats.participantId,stats.win,stats.item0,stats.item1,...,timeline.damageTakenDiffPerMinDeltas.30-end,timeline.damageTakenDiffPerMinDeltas.20-30,player.platformId,player.accountId,player.summonerName,player.summonerId,player.currentPlatformId,player.currentAccountId,player.matchHistoryUri,player.profileIcon
0,3821541874,1,100,526,4,14,1,True,3860,3158,...,NaN,NaN,NA1,Kn1gtFfDhg6R0lPwJuVQJMYNjmhZJ02GI3_HUWx-6SlxEB...,BWONSAMDl,OhiwG9uXdWvAAx0hy5LsuZv1unBhUJv6i3AUmDepnGfn-ZOk,NA1,Kn1gtFfDhg6R0lPwJuVQJMYNjmhZJ02GI3_HUWx-6SlxEB...,/v1/stats/player_history/NA1/2550339271779808,4864
1,3821541874,2,100,68,4,12,2,True,3157,4630,...,NaN,NaN,NA1,IgN7KRFB8tUpLdyz2fAGA9IQbc7fx30ImbAlMf8Z-Twqua...,Buoadeaboda,DJEIX18SQvZYfBwdL7DmiynI02DoWTntXK7U1klD60X3mG9y,NA1,IgN7KRFB8tUpLdyz2fAGA9IQbc7fx30ImbAlMf8Z-Twqua...,/v1/stats/player_history/NA1/2442272347384736,3542
2,3821541874,3,100,202,7,4,3,True,2421,6671,...,NaN,NaN,NaN,m7LQtS_z0SOhRXLb9Zhiflz8HBGkzFpOhOAAlvCyHtHxzg,Winston4,NTLPe_FpZ1GbaRfaS8rSWxOPJ0XrFGjoXATL0MSiyaMmebE,NA1,m7LQtS_z0SOhRXLb9Zhiflz8HBGkzFpOhOAAlvCyHtHxzg,/v1/stats/player_history/NA/36690087,4
3,3821541874,4,100,236,14,4,4,True,3006,2055,...,NaN,NaN,NA1,sutPn5N6Nhy7GlUZAlaUi8oDM3Ly-6pk3Fx29zB0CE1L9w,asianknight,BYZx-Ozu1xZaOuBx5jNL9TByLeKX0fdt7KDVHpRWJuUihQA,NA1,sutPn5N6Nhy7GlUZAlaUi8oDM3Ly-6pk3Fx29zB0CE1L9w,/v1/stats/player_history/NA1/50301168,4070
4,3821541874,5,100,245,4,11,5,True,3111,3152,...,NaN,NaN,NA1,Od3fCVWclcORGRshS9xAqWDJlh_v-OJwaLWLlFEjQc_cLw,Crazyduffpunk,t1fXttEtY3KVfG1e7lT449IZACZHRLRPpH7cwhuQS4Y9WqI,NA1,Od3fCVWclcORGRshS9xAqWDJlh_v-OJwaLWLlFEjQc_cLw,/v1/stats/player_history/NA1/47962405,18

In [81]:
master_queue_match_pts.columns

Index(['gameId', 'participantId', 'teamId', 'championId', 'spell1Id',
       'spell2Id', 'stats.participantId', 'stats.win', 'stats.item0',
       'stats.item1',
       ...
       'timeline.damageTakenDiffPerMinDeltas.30-end',
       'timeline.damageTakenDiffPerMinDeltas.20-30', 'player.platformId',
       'player.accountId', 'player.summonerName', 'player.summonerId',
       'player.currentPlatformId', 'player.currentAccountId',
       'player.matchHistoryUri', 'player.profileIcon'],
      dtype='object', length=149)

In [82]:
stats = ['gameId', 'participantId', 'teamId', 'championId', 'stats.win',
        'stats.kills', 'stats.deaths', 'stats.assists', 'stats.largestKillingSpree',
        'stats.largestMultiKill', 'stats.killingSprees', 'stats.doubleKills',
        'stats.tripleKills', 'stats.quadraKills', 'stats.pentaKills',
        'stats.magicDamageDealtToChampions', 'stats.physicalDamageDealtToChampions',
        'stats.trueDamageDealtToChampions', 'stats.visionScore', 'stats.goldEarned',
        'stats.turretKills', 'stats.inhibitorKills', 'stats.totalMinionsKilled',
        'stats.champLevel', 'stats.wardsPlaced', 'stats.wardsKilled', 'stats.firstBloodKill',
        'timeline.creepsPerMinDeltas.0-10', 'timeline.creepsPerMinDeltas.10-20',
         'timeline.creepsPerMinDeltas.20-30', 'timeline.role', 'timeline.lane', 
         'timeline.csDiffPerMinDeltas.0-10', 'timeline.csDiffPerMinDeltas.10-20',
        'timeline.csDiffPerMinDeltas.20-30', 'player.accountId']

In [88]:
players = master_queue_match_pts[stats].merge(master_queue[['accountId', 'gameId',
                                                            'wins', 'losses',
                                                          'role', 'lane', 'name']],
                                              'left', 
                                              left_on = ['player.accountId', 'gameId'], 
                                              right_on = ['accountId', 'gameId'])

In [91]:
players.head()

,gameId,participantId,teamId,championId,stats.win,stats.kills,stats.deaths,stats.assists,stats.largestKillingSpree,stats.largestMultiKill,...,timeline.csDiffPerMinDeltas.0-10,timeline.csDiffPerMinDeltas.10-20,timeline.csDiffPerMinDeltas.20-30,player.accountId,accountId,wins,losses,role,lane,name
0,3821541874,1,100,526,True,1,5,24,0,1,...,1.25,-0.45,NaN,Kn1gtFfDhg6R0lPwJuVQJMYNjmhZJ02GI3_HUWx-6SlxEB...,NaN,NaN,NaN,NaN,NaN,NaN
1,3821541874,2,100,68,True,3,10,15,2,1,...,-1.60,0.70,NaN,IgN7KRFB8tUpLdyz2fAGA9IQbc7fx30ImbAlMf8Z-Twqua...,IgN7KRFB8tUpLdyz2fAGA9IQbc7fx30ImbAlMf8Z-Twqua...,35.0,36.0,SOLO,TOP,Rumble
2,3821541874,3,100,202,True,6,6,15,5,1,...,1.25,-0.45,NaN,m7LQtS_z0SOhRXLb9Zhiflz8HBGkzFpOhOAAlvCyHtHxzg,NaN,NaN,NaN,NaN,NaN,NaN
3,3821541874,4,100,236,True,7,4,11,4,2,...,1.40,1.80,NaN,sutPn5N6Nhy7GlUZAlaUi8oDM3Ly-6pk3Fx29zB0CE1L9w,NaN,NaN,NaN,NaN,NaN,NaN
4,3821541874,5,100,245,True,20,1,7,11,3,...,-0.10,0.40,NaN,Od3fCVWclcORGRshS9xAqWDJlh_v-OJwaLWLlFEjQc_cLw,NaN,NaN,NaN,NaN,NaN,NaN

In [93]:
players_df = players.loc[:, ~players.columns.str.contains('Id')]

In [94]:
players_df['kda'] = (players_df['stats.kills'] + players_df['stats.assists']) / players_df['stats.deaths']

/home/david/Documents/league_recommendation/league_recommendation/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [95]:
players_df.head()

,stats.win,stats.kills,stats.deaths,stats.assists,stats.largestKillingSpree,stats.largestMultiKill,stats.killingSprees,stats.doubleKills,stats.tripleKills,stats.quadraKills,...,timeline.lane,timeline.csDiffPerMinDeltas.0-10,timeline.csDiffPerMinDeltas.10-20,timeline.csDiffPerMinDeltas.20-30,wins,losses,role,lane,name,kda
0,True,1,5,24,0,1,0,0,0,0,...,BOTTOM,1.25,-0.45,NaN,NaN,NaN,NaN,NaN,NaN,5.0
1,True,3,10,15,2,1,1,0,0,0,...,TOP,-1.60,0.70,NaN,35.0,36.0,SOLO,TOP,Rumble,1.8
2,True,6,6,15,5,1,1,0,0,0,...,BOTTOM,1.25,-0.45,NaN,NaN,NaN,NaN,NaN,NaN,3.5
3,True,7,4,11,4,2,2,2,0,0,...,MIDDLE,1.40,1.80,NaN,NaN,NaN,NaN,NaN,NaN,4.5
4,True,20,1,7,11,3,2,4,1,0,...,JUNGLE,-0.10,0.40,NaN,NaN,NaN,NaN,NaN,NaN,27.0

In [96]:
players_df.isna().sum()

stats.win                                0
stats.kills                              0
stats.deaths                             0
stats.assists                            0
stats.largestKillingSpree                0
stats.largestMultiKill                   0
stats.killingSprees                      0
stats.doubleKills                        0
stats.tripleKills                        0
stats.quadraKills                        0
stats.pentaKills                         0
stats.magicDamageDealtToChampions        0
stats.physicalDamageDealtToChampions     0
stats.trueDamageDealtToChampions         0
stats.visionScore                        0
stats.goldEarned                         0
stats.turretKills                        0
stats.inhibitorKills                     0
stats.totalMinionsKilled                 0
stats.champLevel                         0
stats.wardsPlaced                        0
stats.wardsKilled                        0
stats.firstBloodKill                     0
timeline.creepsPerMinDeltas.0-10         0
timeline.creepsPerMinDeltas.10-20        0
timeline.creepsPerMinDeltas.20-30       30
timeline.role                            0
timeline.lane                            0
timeline.csDiffPerMinDeltas.0-10        14
timeline.csDiffPerMinDeltas.10-20       14
timeline.csDiffPerMinDeltas.20-30       34
wins                                    45
losses                                  45
role                                    45
lane                                    45
name                                    45
kda                                      0
dtype: int64

In [97]:
players_df.dtypes

stats.win                                  bool
stats.kills                               int64
stats.deaths                              int64
stats.assists                             int64
stats.largestKillingSpree                 int64
stats.largestMultiKill                    int64
stats.killingSprees                       int64
stats.doubleKills                         int64
stats.tripleKills                         int64
stats.quadraKills                         int64
stats.pentaKills                          int64
stats.magicDamageDealtToChampions         int64
stats.physicalDamageDealtToChampions      int64
stats.trueDamageDealtToChampions          int64
stats.visionScore                         int64
stats.goldEarned                          int64
stats.turretKills                         int64
stats.inhibitorKills                      int64
stats.totalMinionsKilled                  int64
stats.champLevel                          int64
stats.wardsPlaced                         int64
stats.wardsKilled                         int64
stats.firstBloodKill                       bool
timeline.creepsPerMinDeltas.0-10        float64
timeline.creepsPerMinDeltas.10-20       float64
timeline.creepsPerMinDeltas.20-30       float64
timeline.role                            object
timeline.lane                            object
timeline.csDiffPerMinDeltas.0-10        float64
timeline.csDiffPerMinDeltas.10-20       float64
timeline.csDiffPerMinDeltas.20-30       float64
wins                                    float64
losses                                  float64
role                                     object
lane                                     object
name                                     object
kda                                     float64
dtype: object

In [98]:
players_df.corrwith(players_df['stats.win'])

stats.win                               1.000000
stats.kills                             0.173419
stats.deaths                           -0.259373
stats.assists                           0.396803
stats.largestKillingSpree               0.158791
stats.largestMultiKill                  0.159448
stats.killingSprees                     0.182089
stats.doubleKills                       0.150650
stats.tripleKills                       0.246183
stats.quadraKills                       0.142857
stats.pentaKills                             NaN
stats.magicDamageDealtToChampions      -0.013959
stats.physicalDamageDealtToChampions    0.117645
stats.trueDamageDealtToChampions        0.009564
stats.visionScore                       0.001823
stats.goldEarned                        0.288328
stats.turretKills                       0.290797
stats.inhibitorKills                    0.246183
stats.totalMinionsKilled                0.037669
stats.champLevel                        0.352608
stats.wardsPlaced                       0.091632
stats.wardsKilled                      -0.090068
stats.firstBloodKill                   -0.066667
timeline.creepsPerMinDeltas.0-10        0.013276
timeline.creepsPerMinDeltas.10-20      -0.001257
timeline.creepsPerMinDeltas.20-30       0.023669
timeline.csDiffPerMinDeltas.0-10        0.234692
timeline.csDiffPerMinDeltas.10-20       0.097562
timeline.csDiffPerMinDeltas.20-30      -0.126312
wins                                         NaN
losses                                       NaN
kda                                     0.333508
dtype: float64